*{
    font-family: "Raleway";
}


#content{
    height: 100vh;
    display: flex;
}

#sidebar{
    flex: 1;
    padding: 20px 20px 10px 20px;
    background: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar>*{
    color: white;
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 1.6rem;
}

#board{
    flex: 3;
}

#addProject{
    cursor: pointer;
    text-align: center;
    border-radius: 40px;
    align-self: flex-end;
    width: 80px;
    height: 80px;
    font-size: 24px;
    background-color: aliceblue;
    color: black;
    transition: 0.5s ease;
}
#addProject:hover{
    background-color: antiquewhite;
    border: gold;

}

.pop-up {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
  }

  input{
    border: 1px solid black;
  }
  
  .pop-up>form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    top: 32vh;
    left: 30vw;
    width: 40vw;
    height: 36vh;
    position: relative;
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: space-around;
  }
  .pop-up>*{
    color: black;
  }

  .form-row{
    align-self: self-start;
    display: flex;
    
  }
  .form-row > label{
    width: 100px;
  }